.pop-up__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0px 54px;
  padding-bottom:0px;
  padding-top: 0px;
  padding-left: 36px;
  padding-right: 0px;
}

@media screen and (max-width: 700px) {
  .pop-up__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 70px;
    padding-left: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}