.pop-up__form {
  display: flex;
  flex-direction: column;
  min-width: 430px;
  max-width: 430px;
  background: #FFFFFF;
  color: black;
  box-sizing: border-box;
  margin: 0px auto 0px;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 700px) {
  .pop-up__form {
    width: 282px;
    min-width: auto;
    margin: 0 auto;
  }
}