.pop-up__submit_inavailible {
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  color: #000000;
  opacity: 0.8;
}

.pop-up__submit_inavailible:hover {
  opacity: 0.3;
  cursor: not-allowed;}