.pop-up__submit_inavailible {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.pop-up__submit_inavailible:hover {
  opacity: 0.3;
  cursor: not-allowed;}