.profile {
  max-width: 880px;
  margin: 0px auto;
  padding: 36px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    text-align: center;
    max-width: 320px;
    padding-bottom: 37px ;
    justify-content: center;
  }
}