.pop-up__close {
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  border: 0;
  z-index: 2;
}

.pop-up__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .pop-up__close {
    min-width: 20px;
    min-height: 20px;
    top: -35px;
    right: 0px;
  }
}