.profile__add-button {
  align-self: center;
  padding: 0;
  width: 150px;
  height: 50px;
  margin: 5px 0px 0px auto;
  background-image: url(../../../images/Add_Button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;

}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__add-button{
    width: 320px;
    background-image: url(../../../images/add_button_mobile.svg);
    margin-left: 19px;
    margin-bottom: 0px;
  }
}
