@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/content/content.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar-image/profile__avatar-image.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/cards/cards.css");
@import url("../blocks/cards/__gallery/cards__gallery.css");
@import url("../blocks/cards/__picture/cards__picture.css");
@import url("../blocks/cards/__item/cards__item.css");
@import url("../blocks/cards/__text/cards__text.css");
@import url("../blocks/cards/__text-zone/cards__text-zone.css");
@import url("../blocks/cards/__like-button/cards__like-button.css");
@import url("../blocks/cards/__like-button/_active/cards__like-button_active.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/cards/__delete-button/cards__delete-button.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/pop-up/pop-up.css");
@import url("../blocks/pop-up/_opened/pop-up_opened.css");
@import url("../blocks/pop-up/__container/pop-up__container.css");
@import url("../blocks/pop-up/__form/pop-up__form.css");
@import url("../blocks/pop-up/__title/pop-up__title.css");
@import url("../blocks/pop-up/__input/pop-up__input.css");
@import url("../blocks/pop-up/__submit/pop-up__submit.css");
@import url("../blocks/pop-up/__close/pop-up__close.css");
@import url("../blocks/pop-up/__image-container/pop-up__image-container.css");
@import url("../blocks/pop-up/__image/pop-up__image.css");
@import url("../blocks/pop-up/__image-text/pop-up__image-text.css");
@import url("../blocks/pop-up/__error/pop-up__error.css");
@import url("../blocks/pop-up/__error/_visible/pop-up__error_visible.css");
@import url("../blocks/pop-up/__submit/_inavalible/pop-up__submit_inavailible.css");
@import url("../blocks/pop-up/__input/_error/pop-up__input_error.css");
@import url("../blocks/pop-up/_type/pop-up_type_image.css");
@import url("../blocks/pop-up/__figure/pop-up__figure.css");
@import url("../blocks/cards/__like-counter/cards__like-counter.css");
@import url("../blocks/cards/__like-container/cards__like-container.css");
@import url("../blocks/profile/__avatar-container/profile__avatar-container.css");