.profile__description{
  padding: 10px 0px 0px;
  margin: 0;
  max-width: 336px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;    
    width:189px;
    padding-bottom: 27px;
    padding-top: 5px;
  }
}
