.cards__like-button {
  width: 22px;
  height: 19px;
  align-self: center;
  margin: 0px 20px 0px 0px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
}

.cards__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .cards__like-button {
    width: 22px;
    height: 19px;
    padding:0;
    margin-right: 20px;
    
  }
}