.pop-up__submit {
  max-width: 358px;
  margin: 18px auto 37px;
  width: 358px;
  height: 50px;
  background-image: url("../../../images/submit.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
}

.pop-up__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .pop-up__submit {
    width: 238px;
    height: 46px;
    background-image: url("../../../images/mobile-submit-button.svg");
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    padding: 0;
  }
}