.pop-up__error {
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  min-height: 15px;
  margin: 10px 36px 10px;
  max-width: 100%;
  visibility: hidden;
  padding: 10px 0px 5px;
}

@media screen and (max-width: 700px) {
  .pop-up__error{
    margin-left: 22px;
    margin-right: 22px;
  }
}

