.cards__delete-button {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cards__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}