.footer {
  margin: 0 auto;
  padding-bottom: 60px;
  min-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .footer {
    min-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    width: 282px;
    min-width: 0px;
    padding-bottom: 30px;
  }
}