.pop-up__input {
  margin: 15px 36px 15px;
  padding: 0px 0px 9px;
  max-width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 700px) {
  .pop-up__input {
    margin-left: 22px;
    margin-right: 22px;
    padding-bottom: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    margin-top: 0px;
  }
}