.pop-up__submit {
  margin: 0px auto 37px;
  padding: 14px 135px 15px 130px;
  background-color: black;
  border-radius: 2px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.pop-up__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .pop-up__submit {
    margin-left: 22px;
    padding: 14px 82px 14px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    margin-top: 15px;
  }
}